<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="/">RetroRevive</a>
  <!-- Toggler button for mobile view -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
      {{#if user.isAdmin}}
        <li class="nav-item"><a class="nav-link" href="/admin/orders">All Orders</a></li>
      {{else}}
        <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="/orders">My Orders</a></li>
      {{/if}}
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#if user}}
        <li class="nav-item"><span class="navbar-text">Hello, {{user.username}}</span></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
      {{else}}
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
